body {
    background-color: whitesmoke;
}

html {
    scroll-behavior: smooth;
}

/*nav bar*/
.navbar .container .navbar-brand {
    color: whitesmoke;
    font-size: 20px;
}

.navbar .container .collapse .navbar-nav .nav-link {
    color: whitesmoke;
    font-size: 17px;
}


/*Image section*/
.images-section {
    padding: 40px 20px;
    margin: auto;
    object-fit: cover;
}

.images-section .data .img img{
    float: left;
    border: 50px;
    padding: 30px;
}


.images-section .data .title{
    font-size: 22px;
    margin: 10px 5px;
    font-weight: 600;
    text-align: center;
    padding-bottom: 35px;
}

img {
    transition: all 1s;
}
img:hover{
    transform: scale(1.1);
}

/*About me and pricing section*/
.about-section{
    padding: 25px 20px;
    margin: auto;
}
.about-section .row .col-12:first-child {
    border: 1px solid black;
    min-height: 150px;
}
.about-section .data .img img{
    width: 100%;
    object-fit: cover;
}
.about-section .data .title{
    font-size: 22px;
    font-weight: 600;
}
.about-section .data .heading{
    font-size: 29px;
    font-weight: 700;
    text-align: center;
}
.about-section .data .text{
    font-size: 20px;
    margin: 10px 5px;
    font-weight: 500;
}

/*Paragraph*/
.paragraph-section{
    padding: 40px 20px;
    max-width: 1050px;
    margin: auto;
}
.paragraph-section .data .text{
    font-size: 20px;
    margin: 10px;
    font-weight: 500;
}

/*more image header*/
.second-heading {
    border: 5px solid black;
    min-height: 110px;
}

.second-heading .data {
text-align: center;
font-style: oblique;
}

/*contact form*/
.contact-section{
    padding: 25px 20px;
    max-width: 1050px;
    margin: auto;
}
.contact-section .data{
    padding: 25px 20px;
    border-radius:10px;
    margin: auto;
}
.contact-section .heading{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
}
.contact-section .form-control {
    margin-bottom: 15px;
    border-radius: 10px;
}

/*copyright*/
.copyright {
    border-radius:10px;
    max-width: 1050px;
    margin: auto;
    display: flex;
    gap: 25px;
}

/*media*/
@media (max-width:850px) {
    .data .vector .heading,
    .header .heading {
        font-size: 28px;
        text-align: center;
    }
    .about-section .data .text{
        font-size: 16px;
    }
    .header .heading {
        left: 30%;
        max-width: 250px;
    }
}
@media (max-width:460px) {
    .data .vector {
        left: 27%;
    }
    .header .heading {
        left: 16%;
        padding-right: 20px;
    }
}
